.expanded-container {
    width: calc( 100% - 15% );
}

.main-container {
    min-height: calc(100vh - 100px);
    padding: 0;
}

.app-icon {
    height: 100%;
    border-radius: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.fixed-menu {
    background-color: #543310 !important;
    max-width: 15%;
    min-height: 14vh;
}

.top-menu {
    width: 85%;
    margin-left: auto;
    height: 40%;
    padding: 0;
    margin: 0;
}

.top-menu-toolbar {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 0;
    border: 1px solid black;
    font-weight: bold;
    font-size: large;
}

.home-sidebar {
    background-color: #543310 !important;
    border: none;
    color: white !important;
    font-weight: bold;
    font-size: medium;
    margin: 6%;
}